<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h2>User Details</h2>
    <p>ID: {{ name }}</p>
    <p>Username: {{ username }}</p>
    <p>Password: {{ password }}</p>
    <p>Full Name: {{ Age }}</p>
    <a href="/heart"><button>heart</button></a>
    <a href="/diabetes"><button>diabetes</button></a>
    <a href="/lung_cancer"><button>cancer</button></a>
</body>
</html>
